<br>
<h1>Carrinho de compras</h1>

<div *ngIf="items.length > 0; else cartEmpty">
    <h2>Lista de compras</h2>

    <div class="cart-item" *ngFor="let item of items">
      <img
        [src]="item.imageUrl"
        [alt]="item.name"
        width="40%"
        class="img-fluid rounded"
      />
      <p>{{ item.name }}</p>
      <span>{{ item.name }}</span>
      <span>{{ item.price | currency }}</span>
      <span>1</span>
    </div>
  
    <a class="button" routerLink="">+ Adicionar Itens</a>
    
    <hr>
    <div class="container">
      <div class="row">
          <div 
            class="card" 
            style="width: 25rem;">
              <div class="card-body">
                <h5 class="card-title">SUBTOTAL ({{items.length}}) ITEMS</h5>
                <h6 class="card-subtitle mb-2 text-muted">Total R$ {{ sumOfPrice() | currency }}</h6>
                <h6 class="card-footer mb-1"><a class="button" (click)="closeBuy()">FINALIZAR COMPRA</a></h6>
              </div>
        </div>
      </div>
    </div>


    

</div>
<ng-template #cartEmpty>
    <h2>Ainda não possui item :(</h2>
    <h2>Por favor, escolha um produto</h2>
    <a class="button back-button" routerLink="">VOLTAR</a>

    

</ng-template>
